[2019-02-08 10:11] Namoshek opened #2 "DataTable capsulation in a class and server-side generation of client-side code based on model/data"
Hi Abdul,

thank you for the nice package! I was looking around for quite some time until I stumbled across your quite new project. It seems there are not as many useful and up to date projects concerning DataTables in ASP.NET (Core, MVC, ...) as you'd expect and like.

The part that annoys me the most about the current DataTable packages is that you always have to write the client-side code indiv

[2019-02-09 13:38] fingers10 commented on #2
Dear Namoshek,

Thanks for reaching out. The feature looks interesting and great. I was also planning to implement something like this in near future.

Right now I'm working to add Excel generation functionality to the project based on the ViewModel. I'll add this to my JqueryDataTablesServerSide todo list.

Thanks,
Abdul

[2019-02-15 20:35] Namoshek commented on #2
I invested some time into this as it is something I really needed to get going and so it comes I just released my own package doing pretty much what I described above: [DataTables.NetStandard](https://github.com/Namoshek/DataTables.NetStandard).

Putting all the things described into your package would have been a bit difficult after thinking some time about it. In the end, the design is quite dif

[2019-04-02 09:22] s004183 opened #3 "Paging"
Activating DataTable DOM buttons and set in DataTable Api paging to true, fails.
Only shows 1 page.

[2019-04-02 09:37] s004183 opened #4 "GetDataAsync Take Start for paging"
First launch Skip fails. Is negative number.
table.Start value is Zero for first page / resultset. (Zero -1)  is negative number.
var items = await query
                .AsNoTracking()
                .Skip(table.Start - 1 * table.Length)
                .Take(table.Length)
                .ProjectTo<Demo>(_mappingConfiguration)
                .ToArrayAsync();
return items;

[2019-04-05 10:41] fingers10 commented on #3
Hey @s004183 ,

Can you share a test case so that I can look into this?

Cheers,
Abdul :)

[2019-04-05 10:43] fingers10 commented on #4
Hey @s004183 ,

Can you share you client side Jquery DataTables configuration? This could help me to analyze further.

Cheers,
Abdul :)

[2019-04-05 12:50] s004183 commented on #4
Can I offer a connection to my computer via and access directly to my dev.
computer. See my other mail after this.

El El vie, 5 abr 2019 a las 12:43, Abdul Rahman <notifications@github.com>
escribió:

[2019-04-05 13:13] s004183 commented on #4
Hello Abdul and nice to hear you!

For test Project: I test your demo Project and still not work paging. I actívated button in DataTable <DOM: “BTIRF…”> I think, and your demo Project only shows one page. I change the number of rows to return to 5 and not more pages are shown…

More in deep test, I can offer you an Access to my develop machine via TeamViewer. I use VS2017, SQL Server (Remote machi

[2019-04-05 14:47] fingers10 commented on #4
Hey @s004183 ,

Here is a quick fix,

1. Add a PagedResults{T}.cs model,
[code]

2. Change data access code to,
[code]

3. Change controller code to,
[code]

4. Try you own page length in your js,
[code]

I'll update my demo solution and code soon. Hope this fixes your problem.

Thanks,
Abdul

[2019-04-08 09:09] s004183 commented on #3
Hi Abdul,
   Your update solves the issue. ;)
Thanks!

[2019-04-08 09:10] s004183 commented on #4
Hi Abdul,
    Your update solves the issue. ;)
Thanks!

[2019-04-08 13:20] #4 closed

[2019-04-08 13:21] #3 closed

[2019-05-22 21:01] olek-su opened #5 "Column search with complex objects support?"
Hi,

I am trying to implement this extension in my project, but it seems that individual column search doesn't work with complex objects (at least in my case?).

I have an table 'Orders' in database. Order entity embraces fields like Id, Status, Customer.Firstname,  Customer.Lastname,  Customer.Email where the last three belong to class Customer which has One-To-Many relationship with Order entity

[2019-05-23 05:43] fingers10 commented on #5
Dear olek-su,

This feature is currently not supported. I'll add this in my future release. Stay tuned for the updates.

Thanks,
Abdul

[2019-06-02 20:29] KhalilMohammad opened #6 "Enhancement in SortOptionsProcessor"
95% of time,we need sort operations over different entities in different tables.

Current SortOptionsProcessor's biggest limitation in my opinion is sort can only be applied to single entity.

Example api
new SortOptionsProcessor<DemoModel>().Apply(query,table);

DemoModel is the final select/projection of query.

I was thinking you could add overload to SortOptionsProcessor. Also I could submit P

[2019-06-03 03:10] fingers10 commented on #6
Dear KhalilMohammad,

Thanks for your support. I planning to implement complex search and sort in future release. Feel free to submit a PR. I'll review and add it the next release,

Cheers,
Abdul

[2019-06-04 09:57] gaugo123 opened #7 "Nullable search"
Hi,
Thanks for your great job! really usefull
when working with Nullable properties makes it impossible to filter on the nullable property.

ps: I've tried to clone it and fix the issue but could not use it as I do not find all objects (i.e. DTParameters)

[2019-06-04 16:28] fingers10 commented on #7
Hi gaugo,

Happy to see you enjoying this nuget package.

Thanks for figuring out the issue. I working on v2 release and will be releasing it in couple of days. V2 has some breaking changes. I have standardized and renamed the `DTParameters` to `JqueryDataTablesParameters` in the V2.

Feel free to submit a PR with your changes I'll review and include them in next release. 😄

Cheers,
Abdul

[2019-06-05 05:05] gaugo123 commented on #7
Abdul,
thanks for the reply and the work.
I've figured out all the changes yesterdsay when cloning the repo.
I'll work on the issue and will definitivly let you now

[2019-06-05 12:27] gaugo123 commented on #7
Abdul,
I just pushed a new update.
Unfortunately, I did not do it based on the last comit but only on the current Nuget version.
mods are super simple so feel free to either cherry pick some changes or incorporate onto your new feature....
cheers,
gaugo

[2019-06-05 13:11] fingers10 commented on #7
Hey gaugo123,

Thanks for the update. I'm new to git. Where can I find the update? Submitted a PR?

Cheers,
Abdul

[2019-06-05 15:57] gaugo123 commented on #7
oups, I did not doubled checked... I get a 403...
I'm also new into git....
I'll try to adapt my project to the lattest Version and provide you the changes...
would be nice of you to tell me what commit is from the lattest nuget package

[2019-06-06 15:40] gaugo123 commented on #7
PR Submitted,
hope you'll like it...
Just let me know

[2019-06-06 19:15] fingers10 commented on #7
Hi gaugo123,

This is the latest commit `809b4a1` in `master` branch. I'll review and test your PR and get back to you.

Cheers,
Abdul

[2019-06-08 15:07] fingers10 commented on #2
Hi Namoshek,

After analyzing this issue for a very long time, I have decided **not to implement** this. As this will make the scripts to be written in views to work. I personally don't prefer to write scripts in views. This will be not much useful if I need to maintain my scripts in a separate js files. Moreover this **will make my nuget package more complex**. That's not what I want.

Generating

[2019-06-08 15:07] #2 closed

[2019-06-15 11:20] fingers10 commented on #7
Hi gaugo123,

Merger your PR #8 and published v2.1.0. Thanks for spotting the issue and helping with PR. @gaugo123  💯

[2019-06-15 11:20] #7 closed

[2019-06-18 16:35] fingers10 commented on #6
Dear KhalilMohammad,

Did you get a chance to look at this any further?

Thanks,
Abdul

[2019-06-18 18:16] KhalilMohammad commented on #6
I did not find time, I am doing 2 jobs currently 40 - 60 hours per week.

[2019-06-24 15:20] ASKemp opened #10 "Any chance..."
...this could be done as a standard solution, with program.cs, startup.cs etc. so can be run directly from Visual Studio?

Many thanks.

[2019-06-24 16:05] fingers10 commented on #10
Hi ASKemp,

Please look at the following link for demo solution. [Demo Solution](https://github.com/fingers10/JqueryDataTablesServerSideDemo)

Thanks,
Abdul

[2019-06-24 16:05] #10 closed

[2019-07-01 13:05] ASKemp opened #11 "TagHelper model"
Hi, thanks again for this.
With regards specifying the model to be passed to the TagHelper, can I specify a model directly or must I only use the model specified for the page, i.e. @Model?
E.g can I specify model="MyDataViewModel" ?

Many thanks.

[2019-07-01 14:20] fingers10 commented on #11
Hi ASKemp,

You need to pass a object instance. You can try passing `new MyDataViewModel()`. That should work.

Cheers,
Abdul Rahman

[2019-07-01 15:24] ASKemp commented on #11
Many thanks indeed

[2019-07-01 15:24] #11 closed

[2019-07-02 11:22] ASKemp opened #12 "Error with db implementation"
Hi,
I'm trying to implement your code over a database example. I've made minimum changes to the example to instead point to a db table.
When I debug I get an error with the GetDataAsync function, Visual Studio is reporting the error as...
"Incorrect syntax near 'OFFSET'. Invalid usage of the option NEXT in the FETCH statement"

I'm trying against a MS SQL database.

[2019-07-02 12:07] fingers10 commented on #12
Hi ASKemp,

Can you share you Model code? do you have default sort enabled?

Cheers,
Abdul

[2019-07-02 12:38] ASKemp commented on #12
Hi, thanks for the quick reply.
I've literally taken your code and...
changed the Program.cs to be default (as you get with a default mvc .net app) and to remove the seed data etc.
Changed the startup.cs to reference my db connection instead
services.AddDbContext<Fingers10DbContext>(options => options
                   .UseSqlServer(_configuration.GetConnectionString("DefaultConnection")));

I've

[2019-07-02 14:25] ASKemp commented on #12
That was it!
Updated to SQL Server 2014 (on a 7 VM so highest I could go) and it works nicely now.

[2019-07-02 14:25] #12 closed

[2019-07-02 15:36] ASKemp opened #13 "Supply stored procedure for recordset?"
Is there any way an existing stored procedure could be supplied as the record set (assuming it support the required parameters for paging etc.)?

My table output brings together data from many table joins and so would benefit from server paging but can't see how I would apply your code to my existing sproc.

[2019-07-02 16:03] fingers10 commented on #13
Hi ASKemp,

Since your using a procedure, filtering and ordering cannot be done dynamically at the database level by this package. So with your case you can do these on the server(code) level. If you can get the record set as `IEnumerable` or `IQueryable` then you process like how I have implemented in the docs/demo. Hope this helps.

Cheers,
Abdul

[2019-07-02 16:11] ASKemp commented on #13
Alternatively, if I use EF Core/Linq etc. to build the query dynamically, how would I go about getting back details across more than one entity?

I.e. you use automapper to map the view model Data against the entity DataEntity. How would I map a projection against a dataset that pulls from more than one entity? Can I do this?

E.g. in your example, if you had a relationship between DataEntity and

[2019-07-02 16:14] fingers10 commented on #13
Hi ASKemp,

This is an open issue I'm working on to enable searching/sorting with relationship models. I'll push this in next release.

But if you're not going to do filtering/ordering on relationship properties, they you can use my package to process and for mapping you can easily get samples using automapper in the internet.

Cheers,
Abdul

[2019-07-02 16:26] #13 closed

[2019-07-18 11:38] voydindigo commented on #12
@ASKemp how did you "change the demo.cs and demoentity.cs to reference a table in the database"?

That sounds like exactly what I am after - if you wouldn't mind sharing please?

[2019-08-12 16:52] fingers10 commented on #6
added the feature in v2.2.0

[2019-08-12 16:52] #6 closed

[2019-08-12 16:52] fingers10 commented on #5
added the feature in v2.2.0

[2019-08-12 16:52] #5 closed

[2019-08-21 12:43] jptoros opened #14 "[Sortable(Default = true)] don't seam to work."
Hi,

i'm trying to set the default sortable column with the tag
[Sortable(Default = true)] but it don't seam to do anything. I downloaded the demo project and it don't seam to work.

Is [Sortable(Default = true)] attribute design to replace the order element ?
$('#example').DataTable( {
        "order": [[ 3, "desc" ]]
    } );

Thx

[2019-08-21 13:16] fingers10 commented on #14
did you try to remove the `"order": [[ 3, "desc" ]]` from your script and checked?

[2019-08-21 13:21] ElChepos commented on #14
Hi,

thanks for the fast answer. Yup I do not use the "order": [[ 3, "desc" ]]", I mention it just to be sure the attribute [Sortable(Default = true)] was to replace it.

In fact, I downloaded your demo project, run it without modifying anything and it don't seam to work.

In your demo class you have
[SearchableString]
[Sortable(Default = true)]
 public string Name { get; set; }

but when the appl

[2019-08-21 13:59] fingers10 commented on #14
I checked the demo project. It should work and its working. By default the results from database will be sorted in ascending order because of `[Sortable(Default = true)]` and the results are sorted. The results will be filtered only if you enter a search term and search.

[2019-08-21 14:04] ElChepos commented on #14
When we start the application the first time, the results appears to be sorted, but in reality it because the data in seedData.cs is inserted in order already. But when we check the arrow that display the sorting none is selected. Please refer this screenshot. What I did is move a new DemoEntity with name starting with a B up in the SeedData.cs
https://ibb.co/hF3svXq
But when we press manually the

[2019-08-21 14:19] fingers10 commented on #14
Interesting. Thanks for figuring out. `[Sortable(Default = true)]` is not a replacement for `order: [[1, "asc"]],`

`[Sortable(Default = true)]` is added to provider default sort but in this case the DataTables initial request overrides the name with Id.

If you look closely at the ajax request made by DataTables for the first time it passes Id column as default hence its not working.

![image](ht

[2019-08-21 14:32] ElChepos commented on #14
Is that consider a bug ? Because in that case [Sortable(Default = true)] is not really useful right ?

I use the jquery datatable in a generic view so it not really an option to put the order: [[1, "asc"]] since I don't know which column to order by in that view. Hence the use of [Sortable(Default = true)]

Again thank you for your fast support !

[2019-08-21 15:13] fingers10 commented on #14
Yeah your welcome. This is not a bug. `[Sortable(Default = true)]` works but datatables ajax request overrides this.

In that case may be you can replace `[Sortable(Default = true)]` with `[Sortable]` and jquery datatables will by default pass your table's first column for sorting in asc direction.

This infact needs to be decided by jquery datatables client side configuration and my package is us

[2019-08-24 07:14] #14 closed

[2019-08-26 14:25] MLohrentz opened #15 "Search Input boxes not dynamically created on V2.2.0"
Thanks for an amazing piece of genius code. Not sure if anyone else is experiencing the following issue:

After updating from V2.1.0 to V2.2.0 the search input boxes are no longer created dynamically after the table is initiated.

[2019-08-26 14:30] fingers10 commented on #15
Can you check your tag helper With the demo project?

Here you go,
[code]

[2019-08-27 06:29] MLohrentz commented on #15
Thanks for the quick response Abdul.

Unfortunately something still not working for me. Not a big deal at the moment. I am actually extremely happy to stick to v2.1.0.

There are a few other issues I have detected with the searching when certain datatable options are enabled such as:
- ScrollX
- ScrollY
- responsive: true

Overall this is an excellent package as it solves huge performance issues I

[2019-08-27 07:25] fingers10 commented on #15
Hey @MLohrentz,

Thanks for the kind words. I tested well before releasing. Right now v2.1.0 works for you. But I want to know what made v2.2.0 to not work for you. If this is due to issue in my package, I'll definitely fix and add to patch release.

Please can you share your client side jquery datatables initialization script? I'll try to mock the your configuration and see where the issue is.

M

[2019-08-27 07:55] MLohrentz commented on #15
Hey Abdul

Thanks. Yes of course I can. I have compared the tag helper already, I have used yours exactly as provided.

I have also tried to include your package on a clean sample project as well to eliminate anything unrelated to the package being the cause...with no luck. Which is the only reason i listed this as an issue. Although I would be extremely embarrassed if the cause is my jquery... I

[2019-08-27 14:22] jptoros opened #16 "Localized JqueryDataTablesTagHelper:TagHelper"
Hi,

it more a question than a bug.

The software that i'm building have multiple language. I use the attribute tag [DisplayName("Type")]. When I render the table manually with @Html.DisplayFor the text is localized. But when I use your tag helper it not.

In your tag helper line 60 headerRow.AppendLine($"<th>{column.Name}</th>");is it possible to use column.DisplayName ? Or maybe we can implement

[2019-08-27 16:40] fingers10 commented on #16
Hey jptoros,

Nice idea. I'll make sure to add this in the next release. If you have any ideas / PR. Your welcome to submit. Please add a star to my works if you think this deserves.

Thanks,
Abdul

[2019-09-02 11:40] MLohrentz commented on #15
Hi Abdul

I have uninstalled the package and reinstalled the package from scratch on a new solution... and everything seems to be working fine. I'm pretty confused at the moment however I can confirm that it's not a 2.2.0 issue...but rather related to my previous solution.

Thanks again for your assistance and apologies for not being able to pin point the exact cause.

[2019-09-06 14:17] MLohrentz commented on #15
Hi Abdul

Ok I found the issue for me: Previously, when all worked well (V2.1.0), I was passing my actual model to my view.

It seems you are passing your Demo (Demo.cs) model to your view, and not your actual entity model (DemoEntity.cs) and letting the mapping take care of the rest.

If I add the search and sort properties ([SearchableString][Sortable] etc..) to my actual entity model, the searc

[2019-09-06 16:16] fingers10 commented on #15
Well my intention was to pass the view model not the entity model. Your using DDD approach?

[2019-09-06 16:45] MLohrentz commented on #15
Nope. Im using MVC. my model is part of a complex view model consisting of many objects. One of which is the model I am trying to display in the datatables.

So i have for example a model passed through to my view consisting of 3 objects and one or those is the actual model used for displaying the datatables. So in my helper tag i am referring to my model as model="@Model.IWantThisModel" instead o

[2019-09-08 17:36] #15 closed

[2019-10-02 13:30] manuelv21 opened #17 "Support for core 3.0"
Hi, are there plans to release an update for core 3.0 ?

Actually show this error on launch:

"Could not load type 'Microsoft.AspNetCore.Mvc.MvcJsonOptions' from assembly 'Microsoft.AspNetCore.Mvc.Formatters.Json, Version=3.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60"

thanks

[2019-10-02 14:33] fingers10 commented on #17
Yes I'm working on upgrading. I'll release a new version soon.

[2019-10-05 12:17] fingers10 commented on #16
@jptoros Right Now if you decorate the property with `[DisplayName("Your Localized String")]` to the properties in your view model, it works. Can you check from your end to see of that is useful for you?

Anyways I'll be releasing a patch tonight to include `[Display(Name = "Your Localized String")]` attribute as well.

Here is the order of precedence. The TagHelper will process the name with the

[2019-10-06 17:41] ElChepos commented on #16
No luck on my side.

Here is an example of the viewmodel.

[code]
Note that we use the portable object localization
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/portable-object-localization?view=aspnetcore-3.0

Maybe it has a link to that ? Normally in our view we need to use @Html.DisplayFor or Localized["Phone"] for example and it is working.

[2019-10-07 00:39] fingers10 commented on #16
Your using Asp.Net Core 2.x or 3.0? I tried with 2.x project and it worked for me. Try clearing Nuget Cache and check. I double checked form my end. Here is the [link](https://github.com/fingers10/JqueryDataTablesServerSideDemo) to demo project. Please check.

[2019-10-09 13:43] cihangll opened #18 "[QUESTION] Search Custom Property Columns"
Hi Abdul,

How can i search custom property columns?

#### For example;

I have an enum in the entity model like this.
[code]
[code]
[code]

I want to search display name on the datatable but i am getting error like this;
![image](https://user-images.githubusercontent.com/6229029/66486031-87817f80-eab2-11e9-9aed-8658a44357bf.png)

Because UI property type is string and the entity property type is

[2019-10-09 14:48] chrisxh commented on #18
Hi @cihangll,
Depending on the arguments that you're passing to `SearchOptionsProcessor.Apply()`,  I think the server-side part of JqueryDataTables**ServerSide** may be getting in the way of what you want.  Are you passing an `IQueryable<ItemTransfer>`?
If so, the `SearchOptionsProcessor.Apply` method will be querying (searching) against the source `ItemTransfer` type, not the projected `ItemCardD

[2019-10-09 16:40] fingers10 commented on #18
Hi @chrisxh,

Thanks for the explanation.

Hi @cihangll,

Right now the package doest support enum type/custom type. I had a long thought of implementing this. I'll try to see if I can find a way to make this happen with attributes.

Thanks,
Abdul

[2019-10-09 18:53] fingers10 commented on #18
@cihangll, look at this [enum filtering issue](https://github.com/aspnet/EntityFrameworkCore/issues/11127). Looks like if you configure your entity properly in efcore then enum filtering has to work. I'll try from my end and get back to you.

[2019-10-12 13:59] fingers10 commented on #18
@cihangll If your using ef core why don't you try [value converters](https://docs.microsoft.com/en-us/ef/core/modeling/value-conversions) for `enum` properties? I'm focusing on asp.net core 3.0 upgrade. I'll try a sample after that.

[2019-10-12 15:19] JudeVajira opened #21 "Target .NET Standard 2.0 instead of .NET Core 3.0"
**Is your feature request related to a problem? Please describe.**
I think its better to target .NET Standard 2.0 or 2.1 instead of a specific framework as using a specific framework would reduce the availability of the Library. As any project that does not target .NET Core 3.0 or above would not be able to use it.

![image](https://user-images.githubusercontent.com/17696790/66703456-780f6a00-ed30

[2019-10-12 15:37] JudeVajira commented on #21
From my understanding the only restricting requirement for the library having to target .NET Core is the Excel exporting functionality. If that is the case maybe it is better have it as a separate library than within the same if it means other platforms will not be able to use this.

[2019-10-12 16:37] fingers10 commented on #21
When we tried running `netstandard2.0` in `netcoreapp3.0` we are getting this issue #17

[2019-10-13 11:58] fingers10 commented on #21
as per [Microsoft's 2.2 to 3.0 migration guidelines](https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio)

[code]

So I think for application till asp.net core 2.2 they can use 2.2.2 version of this package and from asp.net core 3.0 on wards they can refer newer version of this library.

[2019-10-13 13:05] fingers10 commented on #21
I have also dropped the`JSON.NET` from the library and now using `System.Text.Json`. Removing the already existing functionality is also not good. So I'm thinking on how to externalize.

[2019-10-13 13:20] JudeVajira commented on #21
Ah I see. I didn't know abot that issue. I wonder how other libraries are handling this sort of things. I'll also take a look when possible.

- System.Text.Json, it could be added as Nuget package right?

- Also wouldn't it be better if the Excel export was a complimentary separate library like JqueryDataTablesServerSide.Reports? As requiring a Excel export is a niche thing and not always needed.

[2019-10-14 02:42] #17 closed

[2019-10-14 08:07] cihangll commented on #18
@fingers10 Thank you for that. I'll try value converters for enum properties.

[2019-10-17 11:41] fingers10 commented on #18
@cihangll , I tried with value converters. Looks like I need to define an extra attribute like `[SearchableEnum(typeof(YourEnum))]` for that to work. I'll add this in the next release.

[2019-10-17 12:09] fingers10 commented on #18
@cihangll but `[SearchableEnum(typeof(YourEnum))]` will only allow `eq` search.  when I try `co` `Enum.TryParse<TEnum>` throws exception. This has this limitation. But for `eq` case you enter the enum value with or without space `Enum.TryParse<TEnum>` will succeed.

[2019-10-22 10:41] tusharbsale opened #23 "How Can I Add Hyperlink using this Tool, Like View/Edit/Delete ?"
Hi,
Actually I need to add Action Column which will have View/Edit/Delete functionality.
I am not able to add same.
I am able to see Action column as I have added Action Property in Model  but row wise Hyperlinks are not coming up.
Below is code i am trying.

can you please give some suggestion how can i add hyperlink action column?

var table = $('#runningJob').DataTable({
            language: {

[2019-10-22 15:08] fingers10 commented on #23
can you share me your root model code that you pass to the `jquery-datatables` TagHelper?
 I tried with my demo solution and here is the screen print. It works for me.
![image](https://user-images.githubusercontent.com/43729469/67300809-3474e700-f50c-11e9-9644-bdcde3f58ad7.png)

[2019-10-25 11:18] fmir864 commented on #23
@fingers10 I have the same requirement. Can you please go through how we can add the hyperlinks?

[2019-10-25 11:19] tusharbsale commented on #23
It's working for me now .
Action column in Model was missing.

So now working code is

var table = $('#runningJob').DataTable({
            language: {
                processing: "Loading Data...",
                zeroRecords: "No matching records found"
            },
            processing: true,
            serverSide: true,
            orderCellsTop: true,
            autoWidth: true,

[2019-10-25 11:19] #23 closed

[2019-10-25 11:28] fmir864 commented on #23
For me, its stuck on the Loading Data.. @tusharbsale

[2019-10-25 11:39] fingers10 commented on #23
@fmir864 I'll push a working sample to [Demo](https://github.com/fingers10/JqueryDataTablesServerSideDemo) some time later by today or tomorrow. Many developers are asking for this sample. I'll add that.

[2019-10-25 20:19] fmir864 commented on #23
@fingers10 Thanks it'll be great.

[2019-10-26 17:34] fingers10 commented on #23
@fmir864  Check [this](https://github.com/fingers10/JqueryDataTablesServerSideDemo). Now added example for CRUD operations

[2019-10-28 20:04] HunainD opened #24 "How to Hide unwanted model fields in the grid?"
Hi Abdul Rahman,
Great job its really a nice article. I am using jquery datatable in my project but the problem is i dont want to show some of my model fields in my grid how can i achieve this. i tried using the visible property of grid column but did't work.

secondly my param for LoadData is always null and i am not able to solve this problem can you help me regarding this? for this i have made

[2019-10-29 00:44] fingers10 commented on #24
Hey @HunainD ,

1. >i dont want to show some of my model fields in my grid how can i achieve this

Right now I recommend to have a view model with only the fields that you need to show in UI. Hence you can remove the inheritance from `BaseViewModel` or create a separate view model class that holds only the properties that you wish to show in UI. Or on the flip side if you don't want to make any ch

[2019-10-29 11:32] HunainD commented on #24
Thanks Abdul Rahaman it worked for me, for hiding columns i had to add the columns to hide at the end of the initialization script.

[2019-10-29 11:32] #24 closed

[2019-11-01 08:10] HunainD opened #25 "SearchOptionsProcessor (Value cannot be null. (Parameter 'itemName'))"
Hi Abdul Rahman,

I know this problem is not related to your component but i wanted to ask some help from you.
I am using mongo db as a database, everything is going fine but i am not able to run search functionality successfully.
i am having Value cannot be null. (Parameter 'itemName') error. after googling a bit i came across this [link](https://jira.mongodb.org/browse/CSHARP-2422). I provided t

[2019-11-01 08:21] HunainD commented on #25
Sorry Abdul Rahman,

I solved it i was just missing a simple thing. i downloaded your code from git hub and copied the SearchOptionsProcessor to my project and modified line number 90 to var obj = Expression.Parameter(typeof(TEntity), "search"); //ExpressionHelper.Parameter<TEntity>(); and it worked. if it is correct can you please update your code and also the nuget package so that i can continue

[2019-11-04 13:58] fingers10 commented on #25
looks like this is a issue with mongo db c# driver. did you report this to them? whats their response for this?

[2019-11-08 01:03] #25 closed

[2019-11-26 02:35] #18 closed

[2019-11-26 08:59] hosamre94 opened #26 "[QUESTION] Search Nested Model properties with flatten VM hierarchy"
Hi,

I have this Model

[code]

And My ViewModel looks like this

[code]
when searching for a PhoneNumber which is mapped from User.PhoneNumber I got this error
because the Vm has a flatter hierarchy  and my Base Model is nested as shown in the example above
[code]

Any way to make searching work for this kind of implementation
Thanks.

[2019-11-27 09:11] wksub opened #27 "Column order"
It seems that  the columns are rendered as there are found in the recursive search of the model.

It would be great to have an annotation like [ColumnOrder (int)] to define it.

[2019-11-27 18:25] fingers10 commented on #27
Yeah I know that. I had a thought of bringing this implementation. I'll add this to next release

[2019-11-27 18:39] fingers10 commented on #26
Dear @hosamre94 ,

This is not possible right now with this package. Can you try changing your view model to match your model structure and try?

Thanks,
Abdul Rahman

[2019-11-28 12:56] cihangll commented on #18
@fingers10 This is awesome. Thank you for this enhancement.

[2019-11-30 10:08] #27 closed

[2019-12-16 12:08] fingers10 commented on #26
Closing this as there is no response.

[2019-12-16 12:08] #26 closed

[2019-12-19 02:30] fingers10 commented on #21
@JudeVajira thanks for the suggestion. It's time to make Excel export as a complimentary separate library like JqueryDataTablesServerSide.Reports. I'll start works related to this.

[2019-12-26 19:46] BernardBoakye opened #29 "Advanced Search in Datatable"
Hi Rahman, I want to find out if the grid can support advanced searches outside the grid

[2019-12-28 10:13] fingers10 commented on #29
Hi @BernardBoakye,

Yes it is possible with a work around. Here are the steps,

**1. HTML:**
Add a external textbox with button,

[code]

**2. JavaScript:**
in your external search button click, call the below script
[code]

**3. Output:**
![image](https://user-images.githubusercontent.com/43729469/71542136-b2c88c00-2988-11ea-99af-05eb580a0ff3.png)

Check out the [demo](https://github.com/fingers1

[2020-01-07 00:58] fingers10 commented on #29
Hi @BernardBoakye,

I'm closing this as there isn't any response from your side. I believe above steps will resolve your query. Feel free to comment if you still not able to make it happen.

Cheers,
@fingers10

[2020-01-07 00:58] #29 closed

[2020-01-30 13:54] UseMuse opened #30 "adding html types of column search controls"
## I offer the following types:

1. input type date or datetime-local
2. input type number
3. input type string
4. select
5. multiple select

[2020-01-30 14:01] fingers10 commented on #30
Hi @UseMuse,

Thanks for reaching out. What do you mean by offer? Can you please explain more? You need the above input types in search inputs?

Thanks,
fingers10

[2020-01-30 14:21] UseMuse commented on #30
under each column add the ability to indicate what type the search control should be:
**I offer the following types:**

1. input type date or datetime-local
2. input type number
3. input type string
4. select
5. multiple select

Yes, I think it would be convenient

[2020-01-30 14:25] UseMuse commented on #30
**for the following types search columns:**

1. input type [date  ](https://developer.mozilla.org/ru/docs/Web/HTML/Element/Input/date) or [datetime-local](https://developer.mozilla.org/ru/docs/Web/HTML/Element/Input/datetime-local)

use html5 or since jquery is used use the jquery [daterangepicker](https://www.daterangepicker.com/) plugin

**for the following types search columns:**

3. select
4.

[2020-01-30 14:33] UseMuse commented on #30
@fingers10 I’m interested, maybe I’ll try to implement it myself, but it’s not accurate :)But I do not have to wait)

[2020-01-30 14:42] UseMuse opened #31 "Add the ability to upload full data for excel"
Add the ability to upload full data for excel. Excluding pagination.

I propose to implement this with a separate button "Export all to Excel".
When you click on this button, the Length field of the JqueryDataTablesParameters class is set to -1. This would be tantamount to if we chose "Show all entries" - then, as the developers of [datables](https://datatables.net/) intended, an [example](https:/

[2020-01-30 14:46] UseMuse commented on #31
@fingers10 I’m interested, maybe I’ll try to implement it myself, but it’s not accurate :) But I do not have to wait)

[2020-02-06 19:42] ElChepos commented on #16
Sorry for the late reply, finally had time to check that error back and it still not working. The datable table display the 'DisplayName' attribute but if we use localization in the app to switch from english to french the translation it not applied.

In the demo project you don't have the option to switch language so we can't test it.

I will try to make you a demo project next week to display th

[2020-02-08 18:24] fingers10 commented on #31
@UseMuse This piece of functionality has nothing to do with the server side processing package. I have updated the demo project for this **ALL** option with excel export. Please check [JqueryDataTablesServerSideDemo](https://github.com/fingers10/JqueryDataTablesServerSideDemo) project

[2020-02-08 18:24] #31 closed

[2020-02-08 18:42] fingers10 commented on #30
@UseMuse **I can look on adding html5 input types like number, text, datetime, datetime-local, select, etc.** But adding **jquery daterangepicker plugin** is completely out of scope for this package. This is just a server side processor. What you can do instead is **try to initialize the date picker on the inputs after the table has been initialized using the [initComplete](https://datatables.net/

[2020-02-11 15:49] axelgunn opened #33 "Allow for Natural Sort"
**A suggested enhancement to sorting.**
Have you thought about a way to enable natural sorting? Could this potentially be done through the "SortOptionsProcessor"?

**Example 1**
-- this will return result that we DO NOT want
select a from (values ('10.abc'), ('2.abc')) T(a) order by a asc;

-- but the following will return the result EXPECTED
select a from (values ('0010.abc'), ('0002.abc')) T(a)

[2020-02-12 05:17] fingers10 commented on #33
Please can you explain more about what you mean with natural sorting? Can you share your data models? How your datatable model looks like?

[2020-02-21 10:28] fingers10 commented on #33
Closing this as there is no response. Feel free to reopen if required.

[2020-02-21 10:28] #33 closed

[2020-02-23 18:58] axelgunn opened #34 "SearchOption for ViewModel with combined fields"
Hi,

I cant find out how I am supposed to deal with the below scenario.

**I am mapping a datamodel to a viewmodel like this:**
`            CreateMap<DataModel, MyViewModel>()
                .ForMember(m => m.YearSeason, map => map.MapFrom(u => $"{u.Year}-{u.Season}"))
                .ReverseMap();`

**And adding searchoptions like this:**
query = SearchOptionsProcessor<MyViewModel, DataModel>.

[2020-02-24 01:05] fingers10 commented on #34
Please share your data model and view model. On the other side add a star to the repo if this is helpful.

[2020-02-24 13:06] axelgunn commented on #34
{
   public int Year { get; set; }
   public int Season { get; set; }
   public string GroupStrID { get; set; }
}

{
   public string YearSeason { get; set; }
   public string GroupStrID { get; set; }
}

**AutoMapper**

    .ForMember(m => m.YearSeason, map => map.MapFrom(u => $"{u.Year}-{u.Season}"))
    .ReverseMap()

[2020-02-24 16:36] fingers10 commented on #34
If Year and Season are string fields in your database. Then you can implement something similar to FirstName and LastName as shown in demo project. Currently there is no support for combined integer fields.

[2020-02-26 17:56] #34 closed

[2020-02-26 18:42] hosamre94 commented on #26
if anyone is interested in a solution for this issue when using AutoMapper

Dto is like this

[code]

and my model

[code]

simply doing the projection first then doing the sorting and ordering with the input and output of both functions is the same as our Dto seems to work fine

[code]

[code]

[2020-02-26 18:56] fingers10 commented on #26
Hey @hosamre94,

Many thanks for the suggestion and solution. I'll try to add this as an example in the demo solution. I'll get back to you on this if I need any assistance.

Cheers,
fingers10

[2020-03-08 17:25] leijae opened #35 "[QUESTION] How do I use Language => Search as my primary search filter option?"
I'm don't want to have a search for each field. How do I use the Language => Search __INPUT__ as my primary mode of searching through column data?

When I debug, clearly data is passed through the parameters, however no data is binded to the return model.

[2020-03-08 17:56] fingers10 commented on #35
Please can you share your view model and domain model? Can you explain more on what do you mean by language search?

[2020-03-08 20:36] leijae commented on #35
Yea sorry that was vague...

![image](https://user-images.githubusercontent.com/50371033/76170602-70be8200-6151-11ea-8ac3-0ecbf0d3cf21.png)

![image](https://user-images.githubusercontent.com/50371033/76170607-88960600-6151-11ea-8a2c-ed6c15b63d11.png)

ViewModel
![image](https://user-images.githubusercontent.com/50371033/76170643-f3dfd800-6151-11ea-92f6-4422e671309d.png)

Entity
![image](https://u

[2020-03-09 00:38] leijae commented on #35
Ok, there is probably a more correct way of doing this... but I just added

`            if (!string.IsNullOrWhiteSpace(table.Search.Value))
            {
                query = query.Where(x => x.LastName.Contains(table.Search.Value) || x.FirstName.Contains(table.Search.Value));
            }
`

and now I get desired results.

[2020-03-09 00:39] #35 closed

[2020-03-15 02:14] leijae opened #36 "[FEATURE] General CSV export instead of Excel"
There was a slight learning curve, but once I understood it; it's a fantastic tool that I'm going to keep coming back to. I'd like to send you  some BAT (it's the only crypto I have PM me for details).

I have a request to export as a general .csv instead of excel.

[2020-03-15 17:49] fingers10 commented on #36
Dear Leijae,

Sound good. Thanks for your kind words. I'll work on this and push it in the next release.

What is BAT?

Thanks,
fingers10

[2020-03-16 20:06] leijae commented on #36
It's a crypto currency for users of Brave Browser. It shows up by each users name
![image](https://user-images.githubusercontent.com/50371033/76795603-9e31ae00-6797-11ea-9761-049b4373c991.png)
(Red and White triangle in above image)

If you register as a content creator I can send you some :)

![image](https://user-images.githubusercontent.com/50371033/76795653-bb667c80-6797-11ea-9cdb-8e2d9d6a8546

[2020-03-16 20:10] leijae commented on #29
How would one utilize the default filter parameter for the DataTable instead of the first visible column?

That is to say something like this:

[code]

 in place of this:

![image](https://user-images.githubusercontent.com/50371033/76795993-7d1d8d00-6798-11ea-8714-920f83336df5.png)

[2020-03-17 03:21] leijae commented on #29
once again... nvm i solved it with

table.search(text).draw();

[2020-03-20 14:55] Kyziur opened #37 "[BUG]"
**Describe the bug**
Problem with expression that is created when trying to search with properties that are type of enum. Ef core 3.0 does allow only for evaluating queries on one side - server side (app side) or database side. Query that i am receiving from example app you have provided after adding sql provider is:
```value(Microsoft.EntityFrameworkCore.Query.Internal.EntityQueryable`1[AspNetCor

[2020-03-21 20:55] ElChepos commented on #16
Hey @fingers10,

so here is what we need to do. Pretty easy. We import the the localizer and we add _localizer[column.Name].Value to replace everywhere you call column.Name

[code]

[2020-03-21 23:27] fingers10 commented on #16
Thanks @jptoros. I'll add this in the upcoming release.

[2020-03-23 15:59] aubiyko opened #38 "[FEATURE] Utilize built-in search"
Built-in DataTables search does send correct JSON to server with non-empty `search` property, but it seems the library simply ignores it. Since search itself is provided, I see this as missed opportunity rather than bug.

Your example provides external search facilities instead, but that requires developer interference in JS search handler or server-side controller/API endpoint. Having that done b

[2020-03-26 02:42] fingers10 commented on #38
You can add the `f` to the `dom` property and make use of the built in search instead of using external search. But the question is against which column you will search the user input? That's why I have removed `f` from `dom` in my demo as this package is focused on **individual column based search based on datatype**.

You can do something similar like what I have suggested in #29 but in a differ

[2020-03-26 02:47] fingers10 commented on #37
Thanks for figuring out. I'll inspect this and get back.

[2020-03-26 03:21] fingers10 commented on #16
@jptoros , I was looking at your implementation. I have a question here, in your above view model, did you try to pass the localized name in the `[Display]` attribute? Something like below,

[code]
I think the above one should resolve your issue as I'm reading the value coming from the `[Display]` attribute. Did you give a try?

Instead of `[DisplayName("Phone")]` try with `[Display(ResourceType =

[2020-03-26 15:18] aubiyko commented on #38
Server-side library could mimic the behaviour of client-side, that is threat everything as string and perform word-bound search with partial matching.

[2020-03-26 17:49] fingers10 commented on #38
This does a database level search and the SQL formed on the fly for all columns of different type cannot be casted to string. Even if we do so it will sometimes end with doing the evaluation on the code level than in the database level which will have huge performance impact.

[2020-03-26 19:42] ElChepos commented on #16
Hey @fingers10 ,

Two option to put ressource for localization in .net Core

1. Use RessourceFile from Microsoft.
Work with [Display(ResourceType = typeof(MyResources), Name = "Phone")]

2. Use Portable Object Localization
Don't work with [Display(ResourceType = typeof(MyResources), Name = "Phone")] since the MyRessourcec won't exist since it use .po file instead of the normal Ressource File

More

[2020-03-27 03:11] fingers10 commented on #16
In this case adding `IHtmlLocalizer​<​JqueryDataTablesTagHelper>` as a dependency inside the TagHelper will force the user of this package to register the localization service in their app even though they are not using it. If they fail do add then the app will throw runtime exception. Hence I'm thinking of alternative as this is a specific use case.

[2020-03-27 09:57] aubiyko commented on #38
I've conducted some tests and can't confirn this behavior. Signed and usigned byte, signed and unsigned int, signed long, signed and unsigned short, single and double and even datetime works via simple `ToString().Contains(needle)`. String `ToString().Contains()` doesn't work, but just `Contaings()` do.

By EF.Core defaults, client-side evaluation requires additional actions.

[2020-03-27 18:18] fingers10 commented on #38
Even if casting is possible why to do unnecessary casting to string for all data types?

I actually thank you for the suggestion, i think that is a great ideal, i will look at adding it to the roadmap.

If you would like to contribute this as a Pull Request, i would be happy to accept it.

[2020-04-04 22:09] leijae opened #39 "[QUESTION] How does one style the "Length Menu?"
How could I style the length menu? I was searching your demo and didn't see an example of this.

![image](https://user-images.githubusercontent.com/50371033/78462391-17d20300-7697-11ea-85db-f57cf928bff7.png)

[2020-04-05 10:38] fingers10 commented on #37
Were you able to run this against database properly? I'm getting run time error while running against database. The expression fails to build for me. How about you? You're facing the same issue or you were able to execute the query?

[2020-04-05 15:19] fingers10 commented on #39
try to target `.dataTables_length select`. Better ask in `stackoverflow` for immediate answers.

[2020-04-05 15:21] #39 closed

[2020-04-06 05:38] fingers10 commented on #37
Figured out. Will fix this in the upcoming release.

[2020-04-06 17:42] fingers10 commented on #37
pushed fix to master branch. please check in the upcoming release.

[2020-04-06 17:42] #37 closed

[2020-04-11 06:39] vbharuwa opened #40 "Date Range Filter"
Can we get date range filter facility on date column?

[2020-04-11 17:56] fingers10 commented on #16
@jptoros Added a push to master for this enhancement. This will be available from next release.

[2020-04-11 17:56] #16 closed

[2020-04-16 02:07] fingers10 commented on #40
Hey @vbharuwa ,

You can enter the date range in the column search text box like `16/04/2020 - 20/04/2020` and in the server side you can add a little bit of logic to handle this as follows,

**JS Configuration:**
[code]

**Action Method:**

[code]

Now this should generate expression like `_context.Entity.Where(x => x.Date >= '16/04/2020' && x.Date <= '20/04/2020' )`.

Hope this helps.

KR,
@fing

[2020-04-19 10:32] fingers10 commented on #36
I would be happy if you could sponsor/support/donate for this project via my paypal account.

[2020-04-19 10:34] #36 closed

[2020-04-19 14:48] #30 closed

[2020-04-19 17:11] leijae commented on #36
Sure! Do you have a platform other than PayPal that I can send money to?
Maybe Venmo?

On Sun, Apr 19, 2020 at 5:32 AM Abdul Rahman <notifications@github.com>
wrote:

[2020-04-19 18:55] fingers10 commented on #36
Are you into Google Pay?

[2020-04-19 21:19] leijae commented on #36
Yes. What email shall I use?

On Sun, Apr 19, 2020 at 1:55 PM Abdul Rahman <notifications@github.com>
wrote:

[2020-04-20 16:01] fingers10 commented on #36
Can you share me your Google pay email or ID or Phone Number? I'll ping you in GPay

[2020-04-20 16:10] leijae commented on #36
leijae@gmail.com

On Mon, Apr 20, 2020, 11:01 AM Abdul Rahman <notifications@github.com>
wrote:

[2020-05-06 08:42] shrutigoyal123 commented on #16
Hello @jptoros @fingers10
Can I get a demo of localization of new tag helper that you have added.

I have tried but getting error-
Unable to resolve service for type 'Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer`1[JqueryDataTables.ServerSide.AspNetCoreWeb.TagHelpers.JqueryDataTablesTagHelper]' while attempting to activate 'JqueryDataTables.ServerSide.AspNetCoreWeb.TagHelpers.JqueryDataTabl

[2020-05-06 09:11] fingers10 commented on #16
@shrutigoyal123 if you're using portable object localization then please refer the following link - https://docs.microsoft.com/en-us/aspnet/core/fundamentals/portable-object-localization?view=aspnetcore-3.1#registering-the-service

Looks like you failed to add required services in the startup

[2020-05-06 09:16] shrutigoyal123 commented on #16
@fingers10
 I am using JSON file as Resource file and my startup.cs ss as below-
![image](https://user-images.githubusercontent.com/37691929/81160859-41d55880-8fa8-11ea-9034-06cdd1f5c0fc.png)
 In case of JSON resource file. what I need to do?

[2020-05-06 11:27] shrutigoyal123 commented on #16
Thank you for your support. It is working now. I had some implementation mistake at my end.

[2020-05-06 12:51] fingers10 commented on #16
@shrutigoyal123 sorry for the delayed response and glad that you made it. If possible Please share the solution here so that it might help other developers in future.

[2020-05-07 02:12] ElChepos commented on #16
@shrutigoyal123 let me know if you need help with anything.

[2020-05-07 04:57] shrutigoyal123 commented on #16
@fingers10 Yes here I am sharing implementation with JSON Resource file-

1 . Add AddJsonLocalization and AddViewLocalization in StartUp.cs
![image](https://user-images.githubusercontent.com/37691929/81255893-84e90780-904c-11ea-9db9-38ad970d55f7.png)

2. In appsetting.json
![image](https://user-images.githubusercontent.com/37691929/81255931-9e8a4f00-904c-11ea-810b-ac53d87fc935.png)

3. data.json i

[2020-05-07 11:56] ElChepos commented on #16
You need to load the js file with the correct translate.

You check the current language and you get the specific language file.
Example on the top of you datatable page.
{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var langFileUrl = string.Empty;
    if (requestCulture.RequestCulture.UICulture.Name == "fr")
    {
        langFileUrl = "/lang/DataTable/fr.json";

[2020-05-07 12:42] fingers10 commented on #16
@jptoros  many thanks for helping fellow developer. I'm happy that we can get working an example out here. Or may be we can make these as PR and add it to demo project. It would be a great addition. What say? Can you please give a PR for a demo project?

[2020-05-11 14:14] pankaj18sharma opened #41 "Hello Buddy, i want to bind the data in JqueryDataTablesPagedResults which i'm getting from Sp using EF Core"
**Describe the question**
A clear and concise description of what the question is.
I'm getting result using the query:-IQueryable<LocalSAO> query =  this.ApplicationDbContext.LocalSAO.FromSqlRaw($"{Constants.SPName.GetData} @Name,@title", sqlParam.ToArray());
its working well. but in next step:- i.e var size = query.Count();
i'm getting exception like:-"FromSqlRaw or FromSqlInterpolated was called

[2020-05-12 21:47] jptoros opened #42 "[QUESTION] How to make search working API side with different Entity model."
Hey @fingers10,

today I was trying to implement the JqueryDataTablesPagedResults in my API and I ran into an issue.

I have an API that return an object that contains more data that the viewModel that I use to display the table itself. It working good to display the data, but the search and sort won't work.

Example :

The call on the API side look like the example
public async Task<JqueryDataTab

[2020-05-14 10:42] pankaj18sharma opened #43 "Fetching Data on Clicking Row In Table"
**Describe the question**
A clear and concise description of what the question is.
I am not getting proper soluting in .net core 3.1 for onclick data fetch

**To Produce**
Steps to produce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. How this can be done?

**Expected behavior**
A clear and concise description of what you expect to happen along with your view model an

[2020-05-14 10:42] #41 closed

[2020-05-15 00:29] fingers10 commented on #40
Closing this as there is no response.

[2020-05-15 00:30] #40 closed

[2020-05-15 18:52] #43 closed

[2020-05-15 18:58] pankaj18sharma opened #44 "How to remove the placeholder in column searching"
**Describe the question**
A clear and concise description of what the question is. In individual column searching i'm facing the issue in removing column header in search placeholder.
![image](https://user-images.githubusercontent.com/62420783/82086402-1a029500-970c-11ea-8934-3a18d5b06500.png)

[2020-05-15 19:08] #44 closed

[2020-05-16 12:01] pankaj18sharma opened #45 "Buttons at footer using jquery datatables"
**Describe the question**
A clear and concise description of what the question is.
is it possible to get the buttons using jquery datatables near paging like-

![image](https://user-images.githubusercontent.com/62420783/82119312-f20e4280-979a-11ea-9795-648b4823ef4a.png)
Cancel and Ok Buttons...Help would be appreciated.

[2020-05-16 13:37] fingers10 commented on #45
What is the purpose of the button at the footer?

[2020-05-16 13:45] fingers10 commented on #42
Can you directly make a call to your API from jQuery Data tables by changing the ajax url property in jQuery Data tables script?

Can you share your models? ViewModel, API Response Model, API Request Model?

[2020-05-16 14:35] pankaj18sharma commented on #45
Actually i'm using datatable on Modal Popup so cancel button will be used for dismissing the popup and Ok button is used for selecting the row and after clicking the ok will fetch it's data.

[2020-05-16 17:28] fingers10 commented on #45
In that case you have these button on the modal popup itself. This has nothing to do with Jquery DataTables

[2020-05-16 19:34] pankaj18sharma commented on #45
Thanks for the quick response Abdul.
Yes i have done it through that...But i was thinking for the alternate using Jquery Datatables.

[2020-05-16 22:41] fingers10 commented on #45
This doesn't come under the jQuery Data tables scope. What you have done is correct.

[2020-05-16 22:41] #45 closed

[2020-05-20 10:23] pankaj18sharma opened #46 "Searching date is not working perfectly"
i am searching date in format mm/dd/yyyy and in db the dates are in format like yyyy-mm-dd hh-mm-ss...but it's not working as excepted...Need Help stuck my work

Code ;-
 table.columns().every(function (index) {
      $('#test tr:last th:eq(' + index + ') input')
        .on('keyup change',
          function (e) {
            table.column($(this).parent().index() + ':visible').search(this.value).

[2020-05-20 18:19] fingers10 commented on #46
What is the type of date field in database? DateTime or Varchar?

[2020-05-21 05:15] pankaj18sharma commented on #46
It's datetime2(7)

[2020-05-22 23:31] fingers10 commented on #46
Can you share your view model and entity model?

Please make sure to follow issues guidelines while posting any issue.

[2020-05-23 16:23] pankaj18sharma commented on #46
Entity Model:-
[code]
ViewModel:-
[code]
It's not working as expected. Please Help

[2020-05-24 10:24] fingers10 commented on #42
@jptoros Closing this as there is no response. Feel free to reopen if needed. Or post the solution which worked for you. That will help others.

[2020-05-24 10:24] #42 closed

[2020-05-24 10:30] fingers10 commented on #46
You're using `eq` operator in date column right? Did you check the [Demo Solution](https://github.com/fingers10/JqueryDataTablesServerSideDemo)? Apply migration and check it against the database. It is also creating `datetime2(7)` column in database and it works fine.

[2020-06-01 17:45] #46 closed

[2020-06-06 06:38] VaibhavSharma1981 opened #47 "Give an option to apply grouping"
There is a plugin "RowGroup",

Is there any possibility to pass grouping settings from server and apply over it?

[2020-06-06 08:19] VaibhavSharma1981 opened #48 "Seems to be very slow"
Querying a table with few entries is also taking much time?.

[2020-06-06 11:30] fingers10 commented on #48
Can you please provide more details? I haven't faced this issue so far. The query generated is straight forward. Can you check your database and table?

[2020-06-16 07:59] aubiyko opened #49 "[FEATURE] Add SearchPanes support"
SearchPanes extension since 1.1 adds [server-side processing support](https://datatables.net/extensions/searchpanes/serverside).

Such feature would be a great addition to this library.

[2020-06-18 23:57] #48 closed

[2020-07-21 14:10] leijae commented on #49
seconded

[2020-07-25 21:00] sodapopzs opened #51 "Is there a way to use this in a Blazor App"
Can we use this in Blazor Server Side app?

[2020-07-26 16:34] fingers10 commented on #51
As long as you have your jQuery datatables js plugin configured to work with blazor. You can use this on server side by supplying required parameters. Note that this package is only meant for data filtering. You need to do the remaining hooks with UI to make it work.

[2020-08-11 13:38] olegbonder opened #52 "Localization"
how can we use localization? Please show an example

[2020-08-12 15:18] fingers10 commented on #52
Hi olegbonder,

Thanks for reaching out. Please refer issue #16

Thanks,
Abdul Rahman

[2020-08-13 20:17] olegbonder commented on #52
Hi fingers10,
I refered to issue #16. But I dont't understand how to use constructor in class "JqueryDataTablesHtmlLocalizedTagHelper" using DI (dependecy injection)
My steps:
1. Startup.cs:
            `services.AddLocalization(opt => opt.ResourcesPath = "Resources");`
            `services.AddScoped<IDemoService, DefaultDemoService>();`
            `services.Configure<RequestLocalizationOptions>

[2020-08-16 04:00] fingers10 commented on #52
Did you try [JqueryDataTablesHtmlLocalizedTagHelper](https://github.com/fingers10/JqueryDataTablesServerSide/blob/master/AspNetCoreWeb/TagHelpers/JqueryDataTablesHtmlLocalizedTagHelper.cs).

Refer [Table HTML](https://github.com/fingers10/JqueryDataTablesServerSide#table-html) section in Docs.

[2020-08-16 16:53] olegbonder commented on #52
Yes, I did, but no effect.

вс, 16 авг. 2020 г., 7:01 Abdul Rahman <notifications@github.com>:

[2020-08-25 17:27] olegbonder opened #53 "SelectList"
Can you add in class "JqueryDataTablesHtmlLocalizedTagHelper" search by html tag "select" using class "Microsoft.AspNetCore.Mvc.Rendering.SelectList" in ViewModel?
Example in asp net core: <select asp-for="CompanyId" asp-items="ViewBag.Companies"></select>
Example in Datatables.net:  https://www.datatables.net/examples/api/multi_filter_select.html

Thank you

[2020-08-25 17:34] olegbonder commented on #52
Can you add test project where use localization in columns?

Thanks

[2020-08-30 16:32] fingers10 commented on #16
@jptoros please can you help with a HTML Localization sample?

[2020-08-30 23:19] ElChepos commented on #16
Sure ! With all the help that you provided to me during my dev here you go. Don't hesitate if you have any questions.

https://github.com/fingers10/JqueryDataTablesServerSideDemo/pull/9

If you don't mind add me into the Contributions section of your GitHub project. Gonna be a first for me :)

[2020-08-31 18:11] fingers10 commented on #16
Sure @jptoros . Will review and get back if I have any questions.

[2020-09-08 14:55] JDMilne opened #54 "SearchOptionsProcessor.Apply not correctly handling more than one "multiple term" search term"
First of all, thank you very much for your code.  It allowed me to prototype something in hours as opposed to days (possibly weeks),

When more than one search columns contains multiple terms the search results are not being applied correctly.  Take as an example my particular implementation where I allow searches by an individual's first and last name.  My data set also included MaidenName, NickN

[2020-09-09 19:51] JDMilne commented on #54
I've tested the following change.  It seems to resolve the issue.  subExpression needs to be reset for each encountered compound term.

![2020-09-09_15h48_20](https://user-images.githubusercontent.com/17073962/92646108-eac3f500-f2b3-11ea-8fd6-30fffa590b2e.png)

[2020-09-12 09:32] fingers10 commented on #52
[Demo Project](https://github.com/fingers10/JqueryDataTablesServerSideDemo) now supports localization.

[2020-09-12 09:32] #52 closed

[2020-09-12 09:32] #51 closed

[2020-09-12 09:34] fingers10 commented on #54
@JDMilne Many thanks for posting the issue. Will look on this and get back

[2020-09-21 14:44] leijae opened #55 "[FEATURE] Support for complex table headers with the tag helper"
DataTables.net supports complex headers, but must have the tables hard coded into the html, not initialized by the javascript.

Can you please write a solution for the tag helper to include any complex header groups?

https://datatables.net/extensions/fixedcolumns/examples/styling/rowspan.html for more details

[2020-10-28 13:30] JDMilne opened #56 "Add support for "Like" operations"
Search using "co" (contains) is often inefficient in many cases.  Adding support for Like comparisons would be a great enhancement.  Some "user instruction" for those unfamiliar with SQL Like operations is advised.

I've successfully tested on possible implementation that requires adding a dependancy for Microsoft.EntityFrameworkCore 3.19.  The approach I used was to piggy-back on the "contains" p

[2020-12-02 20:05] olegbonder opened #58 "Localization .resx"
Hello. I'm sorry, but not understand, how add to Demo project localization by resources-files.. I make localization using interfaces IStringLocalizer and IStringLocalizerFactory for keep resources in database. Can you add localization by resources-files.Thanks

[2020-12-08 16:55] dbychkov opened #59 "How to add multi-select checkboxes to table?"
How can I add multi-select checkboxes to table? The link below shows how to do it for a regular html/js datatable.
You basically create a fake/empty column and say that it will host selection checkboxes. This .NET library creates all columns dynamically and I see no way to add that fake column without adding fake property to my data model.

https://datatables.net/extensions/select/examples/initial

[2021-06-03 20:53] vukasinpetrovic opened #60 "[BUG] Invalid Operator"
**Describe the bug**
I tried using your methods for searching and sorting server functionality. Sorting works all right, but I get exception for searching method which says "Invalid Operator 'Explanation'", where Explanation is class property. I compared to your demo project but I cannot find difference nor what causes problem.
Here below are code snippets.

Stack trace
[code]

This is a repositor

[2021-06-04 08:32] fingers10 commented on #60
@vukasinpetrovic try adding `[SearchableString]` attribute to your `Explanation` property in `PostReportDTO`

And what is the operator that you are sending fr JavaScript configuration? Please compare your jQuery Datatables initialisation script with my example. I'm sure you must be passing wrong operator from your script

[2021-06-05 05:41] fingers10 commented on #59
This is not currently implemented. For these scenario you can use your own table html instead of using `<jquery-datatables>`

[2021-06-06 20:09] vukasinpetrovic commented on #60
@fingers10 I finally figured out what was the problem. I did not realise easily from documentation that I had to specify comparator string inside name property of columns, inside JS datatable initialisation code (image below). Also I added specific Searchable annotations (SearchableString, SearchableDate, etc.), but main problem was that comparator string.

![image](https://user-images.githubuserc

[2021-06-06 20:09] #60 closed

[2021-06-09 21:04] vukasinpetrovic opened #61 "[QUESTION] DateTime Searching problem"
**Describe the question**
I implemented SearchableDateTime field on many tables, but it works only on one and I cannot figure out why. In those on which it does not work, sorting works but searching does not in a way that whatever I type in searchbox no results match.

This is a model that works:
[code]
![image](https://user-images.githubusercontent.com/23005422/121428873-98b11c80-c976-11eb-8631-4

[2021-06-09 21:09] vukasinpetrovic opened #62 "[QUESTION] Searching Enum value as string instead of short/int"
**Describe the question**
I implemented one column that represents Enum value and added searching and sorting to it. Sorting works ok, but I have problem with searching. Column displays string value of enum (Genre: "Male, Female, Other"), when I search by string name no results show, but when I type 0,1,2 in search box, results show according to enum values. How can I overcome this problem?

### H

[2021-06-16 10:35] vukasinpetrovic commented on #62
@fingers10 Can you help me with this?

[2021-06-16 10:35] vukasinpetrovic commented on #61
@fingers10 Can you help me with this?

[2021-07-03 12:27] vukasinpetrovic commented on #61
@fingers10 Any info on this?

[2021-07-03 12:27] vukasinpetrovic commented on #62
@fingers10 Any info on this?

[2021-07-06 09:51] walteriermano opened #63 "[QUESTION] How To localizate the name of Coloumns"
Hi , i have all localized but remain only the problem how to :

1) Localize the name of columns , i have tried in this way but not works
 [JqueryDataTableColumn(Order = 2)]
 [IncludeInReport(Order = 2)]
 [SearchableString(EntityProperty = "Name")]
 [Sortable(EntityProperty = "Name")]
 [Display(ResourceType = typeof(Resources.DataAnnotations), Name = nameof(Resources.DataAnnotations.Name))]
 public

[2022-03-30 14:11] jjjhong91 opened #65 "[QUESTION] How use IncludeInReport on Dictionary"
Hi

I implement  to export csv from mongodb, and I have property that is Dictionary<string,string>.
There are not working by using [IncludeInReport] and [NestedInReport].

How can I do?

[2022-03-30 14:42] fingers10 commented on #65
@jjjhong91 `IncludeInReport` can be used only on primitive types. I suppose you are using this on your domain model? If so you can transform your Dictionary in domain modal to a separate model for reporting and use primitive types in that and decorate with report attributes.

[2022-03-30 15:15] jjjhong91 commented on #65
@fingers10 I also think it.
thank you!